<h1>
  {{title}}
</h1>
    
<div class="row">
  <div class="col-sm-6">
    <stock-list></stock-list>
  </div>
  <div class="col-sm-6">

    <div class ="row">
      <div class="col-sm-12">
        <stock-history-update></stock-history-update>
      </div>
    </div>
     <div class ="row">
      <div class="col-sm-12">
        <update-stock-bot></update-stock-bot>
      </div>
    </div>
  </div>
</div>
<div class ="row">
  <div class="col-sm-12">
    <search-stock></search-stock>
    </div>
</div>
